@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #f1f1f1;
    font-family: "Poppins", sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
  }
  .container {
    padding-left: 5px;
    padding-right: 5px;
    margin-right: auto;
    margin-left: auto;
  }
  .scrollbar{
    overflow-y: scroll;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar {
    width: 16px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(169,169,169, 0.4); 
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(192,192,192, 0.5);
  }
  /* ::-webkit-scrollbar-button {
    height: 100px;
  } */
  .scrollable {
    scroll-behavior: smooth;
  }
  @media (min-width: 768px){
    .container{
      width: 750px;
    }
  }
  @media (min-width: 768px){
    .container{
      width: 750px;
    }
  }
  @media (min-width: 992px){
    .container{
      width: 970px;
    }
  }
  @media (min-width: 1200px){
    .container{
      width: 1170px;
    }
  }
}
